*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 30px;
}

.logo{
    font-weight: 900;
    font-size: 20px;
    transition: 0.5s;
}
.logo:hover{
    color: rgb(132, 14, 201);
    cursor: pointer;
}

.navigaton{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigaton-manu{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s;
}
.navigaton-manu:hover{
    color: rgb(132, 14, 201);
}

.btn-header{
    font-weight: 700;
    padding: 10px 20px;
    border-style: none;
    border-radius: 10px;
    background-color:  rgb(34, 34, 34);
    color: #fff;
    border: 1px solid rgb(132, 14, 201);
    transition: 0.8s;
}
.btn-header:hover{
    background-color: #fff;
    color: rgb(132, 14, 201);
    cursor: pointer;
}

.main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    margin-bottom: 40px;
}

.main-primary{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.main-primary h1{
    font-weight: 900;
    font-size: 62px;
}

.main-primary h1 span{
    color: rgb(132, 14, 201);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.name, .email{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    padding-left: 10px;
}

.btn-form{
    width: 150px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(132, 14, 201);
    color: #fff;
    font-weight: 600;
    transition: 0.6s;
}

.btn-form:hover{
    background-color: rgba(132, 14, 201, 0.6);
    cursor: pointer;
}

.img-principal{
    animation: img-pulsa 1s infinite alternate;

}

@keyframes img-pulsar {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}